ladok3.pdf
ladok3.py
ladok3.tex
ltxobj/
prgi.out
prgi.pdf
prgi.py
prgi.tex
stats.tex
stats-data.py
stats-grade-dist.py

DD1310-all.pgf
DD1310-all.tex
DD1310-grouped.pgf
DD1310-grouped.tex
DD1315-all.pgf
DD1315-all.tex
DD1315-grouped.pgf
DD1315-grouped.tex
DD1315-last.pgf
DD1315-last.tex
